@charset "utf-8";

/*!
global
------------------------------
*/

/* color */
:root {
  --color-bg-blue:#005bac ;
  --color-bg-white: #fff;
  --color-bg-light-pink:#ff55551a;
  --color-bg-light-blue: #f2f9ff;
  --color-bg-light-grey: #f0f0f0;
  --color-bg-grey: #ddd;

  --color-font-blue: #005bac;
  --color-font-black: #333;
  --color-font-white: #fff;
  --color-font-pink: #f11f8d;
}
/* content-width */
:root {
  --width-content: 1160px;
}

/* font */
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-en: "Poppins", sans-serif;
}

/*!
foundation > base
------------------------------
*/
body {
  color: var(--color-font-black);
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.75;
}
/*!
component > button
------------------------------
*/
.c-button__base {
  cursor: pointer;
  width: 250px;
  height: 48px;
  border-radius: 25px;
  display: grid;
  place-items: center;
  line-height: 0;
  color: var(--color-font-white);
}
@media (min-width:765px) {
  .c-button__base {
    width: 340px;
    height: 75px;
    border-radius: 38px;
  }
}
.c-button__base:hover {
  opacity: .6;
}
.c-button__first {
  background-color: #77cb33;
}
.c-button__second {
  background-color: #f6aa00;
}
.c-button__third {
  background-color: #3ac8ad;
}
.c-button__cta {
  width: 305px;
  height: 69px;
  border-radius: 35px;
  background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;
  font-size: 20px;
}
@media (min-width:765px) {
  .c-button__cta {
    width: 360px;
    height: 75px;
    border-radius: 38px;
  }
}
.c-button__header {

}
.c-button__center {
  margin: 0 auto;
}
/*!
component > title
------------------------------
*/
.c-title-level1__english {
  font-family: var(--font-family-en);
  color: var(--color-font-blue);
  line-height: 0;
}
.c-title-level2 {
  font-size: 28px;
}
.c-title-level3 {
  font-size: 20px;
}

/*!
component > cta
------------------------------
*/

/*💡ここに『CTAコンポーネントのコード』を書く*/

/*!
layout > container
------------------------------
*/
.l-container, .l-container-s {
  width: 90%;
  margin: 0 auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

.l-container {
  max-width: var(--width-content);
}

/*!
layout > section
------------------------------
*/
.l-section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .l-section {
    padding: 96px 0;
  }
}

/*!
layout > section-body
------------------------------
*/
.l-section-body {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .l-section-body {
    margin-top: 40px;
  }
}

/*!
layout > header
------------------------------
*/

/*💡ここに『ヘッターのコード』を書く*/

/*!
layout > footer
------------------------------
*/

/*💡ここに『フッターのコード』を書く*/