@charset "utf-8";

/*!
global
------------------------------
*/

/* color */
:root {
    --color-bg-blue:#005bac ;
    --color-bg-white: #fff;
    --color-bg-light-pink:#ff55551a;
    --color-bg-light-blue: #f2f9ff;
    --color-bg-light-grey: #f0f0f0;
    --color-bg-grey: #ddd;

    --color-font-blue: #005bac;
    --color-font-black: #333;
    --color-font-white: #fff;
    --color-font-pink: #f11f8d;

    --color-border-light-grey: #ccc
}
/* content-width */
:root {
    --width-content: 1200px;
}

/* font */
:root {
    --font-family-base: "Noto Sans JP", sans-serif;
    --font-family-en: "Poppins", sans-serif;
}

/*!
foundation > base
------------------------------
*/
html {
    font-size: calc(10 * 100vw / 375);
    scroll-behavior: smooth;
    scroll-padding-top: 12rem;
}

@media (min-width:768px) {
    html {
          font-size: calc(10 * 100vw / 1200);
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}
body {
    color: var(--color-font-black);
    font-family: var(--font-family-base);
    font-size: 1.6rem;
    line-height: 1.75;
}
img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
/*!
component > button
------------------------------
*/
.c-button__base {
    cursor: pointer;
    width: 25rem;
    height: 4.8rem;
    border-radius: 2.5rem;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--color-font-white);
}
@media (min-width:765px) {
    .c-button__base {
        width: 34rem;
        height: 7.5rem;
        border-radius: 3.8rem;
        font-size: 2.4rem;
    }
}
.c-button__base:hover {
    opacity: .6;
}
.c-button__first {
    background-color: #77cb33;
}
.c-button__second {
    background-color: #f6aa00;
}
.c-button__third {
    background-color: #3ac8ad;
}
.c-button__cta {
    width: 100%;
    max-width: 30.5rem;
    height: 6.9rem;
    border-radius: 3.5rem;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;
    font-size: 2rem;
}
@media (min-width:765px) {
    .c-button__cta {
        max-width: 36rem;
        height: 7.5rem;
        border-radius: 3.8rem;
        font-size: 2.4rem;
    }
}
.c-button__header {
    max-width: 28.2rem;
    height: 6.1rem;
    border-radius: 3.1rem;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;
    font-size: 2rem;
}
.c-button__center {
    margin: 0 auto;
}
/*!
component > title
------------------------------
*/
.c-title-level1__english {
    font-family: var(--font-family-en);
    color: var(--color-font-blue);
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
}
@media (min-width: 768px) {
    .c-title-level1__english {
        font-size: 3.2rem;
    }
}
.c-title-level2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
}
@media (min-width:768px) {
    .c-title-level2 {
        font-size: 3.6rem;
    }
}
.c-title-level3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}
@media (min-width: 768px) {
    .c-title-level3 {
        font-size: 2.4rem;
    }
}
.c-title-point {
    font-family: var(--font-family-en);
    font-size: 2.4rem;
    font-style: italic;
    font-weight: bold;
    color: var(--color-font-pink);
}
@media (min-width: 768px) {
    .c-title-point {
        font-size: 2.8rem;
    }
}
.c-title-center {
    text-align: center;
}
/*!
component > cta
------------------------------
*/
.c-cta {
    padding: 4rem 0;
    background-color: var(--color-bg-light-pink);
}
@media (min-width: 768px) {
    .c-cta {
        padding: 5.6rem;
    }
}
.c-cta__msg {
    text-align: center;
    margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
    .c-cta__msg {
        margin-bottom: 2rem;
    }
}
.c-cta__msg span{
    display: block;
}
@media (min-width: 768px) {
    .c-cta__msg span {
        display: inline;
    }
}

/*!
layout > container
------------------------------
*/
.l-container {
    width: 90%;
    margin: 0 auto;
    max-width: var(--width-content);
}

/*!
header
------------------------------
*/
.header {
    background-color: var(--color-bg-white);
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 1.6rem;
    height: 7rem;
    box-shadow: 0 0.2rem 0.8rem #0000001a;
    z-index: 10;
}
@media (min-width: 768px) {
    .header {
        padding: 0 2rem;
        height: 10.1rem;
    }
}
.header-site-title {
    line-height: 1;
}
.header-site-title img {
    width: 16.6rem;
}
@media (min-width: 768px) {
    .header-site-title img {
        width: 24.1rem;
    }
}
.header-container {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.hamburger-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
    align-items: center;
    background-color: var(--color-bg-blue);
    cursor: pointer;
}
@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}
.hamburger-button-bar {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--color-bg-white);
}
.navigation-group {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    position: fixed;
    top: 70px;
    right: 0;
    height: 100%;
    z-index: 10;
}
@media (min-width: 768px) {
    .navigation-group {
        padding: 0;
        flex-direction: row;
        align-items: center;
        transform: none;
        position: static;
        width: auto;
    }
}
.navigation-group.active {
    transform: translateX(0);
    background-color: var(--color-bg-blue);
}
@media (max-width: 767px) {
    .navigation-menu {
        width: 100%;
        max-width: 35rem;
        margin: 0 auto 3.2rem;
        color: var(--color-font-white);
    }
}

@media (min-width:768px) {
    .navigation-menu {
        display: flex;
        justify-content: right;
        gap: 4.8rem;
        max-width: none;
        margin: 0 5rem 0 0;
        font-size: 2rem;
        color: var(--color-font-black);
    }
}
@media (min-width: 768px) {
    .navigation-item a:hover {
        opacity: .6;
    }
    .navigation-item img {
        display: none;
    }
}

@media (max-width: 767px) {
    .navigation-item {
        position: relative;
        padding: 2rem 0;
        border-bottom: 1px solid #ffffff80;
    }
    .navigation-item img {
        display: inline-block;
        width: 1.6rem;
        margin-bottom: 0.5rem;
    }
    .navigation-item a {
        margin-left: 1rem;
    }

}

.header-button {
    width: 100%;
    max-width: 35rem;
    height: 6.6rem;
    margin: 0 auto;
    background: var(--color-bg-white);
    color: var(--color-bg-blue);
    border-radius: 3.3rem;
}
@media (min-width:768px) {
    .header-button {
        margin: 0;
        width: 28.2rem;
        height: 6.1rem;
        border-radius: 3.1rem;
        font-size: 2rem;
        color: var(--color-font-white);
        background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;;
    }
}

/*!
main-visual
------------------------------
*/
.main-visual {
    height: 25rem;
    background-image: url(/assets/image/mainVIsual_sp01.jpg);
    background-position: -1.5rem center;
    background-repeat: no-repeat;
    margin-top: 7rem;
    background-size: cover;
    aspect-ratio: 375 / 250;

}
@media (min-width: 768px) {
    .main-visual {
        background-image: url(/assets/image/mainVIsual_pc01.jpg);
        background-position: center center;
        aspect-ratio: inherit;
        height: 68rem;
    }
}
.main-visual-container {
    padding: 3.4rem 0;
    margin: 0 1.6rem;
}
@media (min-width: 768px) {
    .main-visual-container {
        width: 100%;
        max-width: 1150px;
        padding: 14rem 2.6rem;
        margin: 0 auto;
    }
}
.main-visual-pickup {
    margin-bottom: 1.5rem;
}
@media(min-width:768px) {
    .main-visual-pickup {
        margin-bottom: 2.2rem;
    }
}
.main-visual-pickup-wrapper {
    display: inline-block;
}
.main-visual-pickup-text {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    transform: translate(-0.5rem, -0.6rem);
}
@media(min-width:768px) {
    .main-visual-pickup-text {
        font-size: 2.0rem;
        padding-bottom: 3.6rem;
        transform: translateX(15px);
    }
}
.main-visual-pickup-point {
    padding: 0 2rem;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    font-family: var(--font-family-en);
    color: var(--color-font-pink);
    transform: translate(-0.6rem, -1rem);
}
@media(min-width:768px) {
    .main-visual-pickup-point {
        font-size: 5.4rem;
        transform: translate(2.7rem, -2.4rem);

    }
}
.main-visual-pickup-point span {
    font-size: 3.6rem;
}
@media(min-width:768px) {
    .main-visual-pickup-point span {
        font-size: 7.4rem;
    }
}
.main-visual-pickup-frame-left {
    display: inline-block;
    width: 2.6rem;
}
@media(min-width:768px) {
    .main-visual-pickup-frame-left {
        width: 5.2rem;
    }
}
.main-visual-pickup-frame-right {
    display: inline-block;
    width: 2.6rem;
    transform: translate(-0.9rem, -0.2rem);
}
@media(min-width:768px) {
    .main-visual-pickup-frame-right {
        width: 5.2rem;
        transform: translate(3.3rem, 0.4rem);
    }
}
.main-visual-target {
    font-size: 1.4rem;
}
@media(min-width:768px) {
    .main-visual-target {
        font-size:3.3rem;
    }
}
.main-visual-announce {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.44;
    color: var(--color-font-blue);
}
@media(min-width:768px) {
    .main-visual-announce {
        font-size: 6rem;
    }
}
/*!
button-section
------------------------------
*/
.button-section {
    margin-top: 2.4rem;
}
@media (min-width: 768px) {
    .button-section {
        margin-top: -3.3rem;
    }
}
.button-section-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
@media (min-width:768px) {
    .button-section-container {
        max-width: 110rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: left;
        gap: 4rem;
        overflow: hidden;
    }
    .button-section-container .c-button__base {
        flex-shrink: 0;
    }
}
/*!
reason
------------------------------
*/
.reason-section {
    margin-top: 3.2rem;
}
@media (min-width: 768px) {
    .reason-section {
        margin-top: 7.9rem;
    }
}
.reason-title {
    line-height: 1;
    margin-bottom: 2.5rem;
}
.reason-title span {
    font-family: var(--font-family-en);
    font-weight: bold;
    font-size: 4rem;
    color: var(--color-font-pink);
}
@media (min-width: 768px) {
    .reason-title {
        margin-bottom: 4.3rem;
    }
    .reason-title span {
        font-size: 5.4rem;
    }
}
.reason-group {
    margin: 0 1.6rem 3.6rem;
}
@media (min-width: 768px) {
    .reason-group {
        max-width: 120rem;
        margin: 0 auto 7.4rem;
        padding: 0 2rem;
    }
}
@media (min-width: 768px) {
    .reason-item {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        margin-bottom: 4.6rem;
    }
    .reason-item:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
    .reason-item:last-child {
        margin: 0;
    }
}
@media (min-width:768px) {
    .reason-img {
        flex: 1;
    }
}
.reason-img img {
    min-height: 22rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .reason-img img {
        max-width: 56rem;
        width: 56rem;
        height: auto;
    }
}

.reason-contents {
    flex: 1;
}
.reason-point {
    margin: 1.9rem 0 0.9rem;
    line-height: 1;
    display: flex;
    align-items: center;
    
}
.reason-point span {
    font-size: 3.6rem;
}
.point2 {
    margin-bottom: 0.9rem;
}

.reason-content-title {
    margin-bottom: 1.3rem;
    line-height: 1;
}
.reason-title2 {
    margin-bottom: 2rem;
}
.reason-title3 {
    margin-bottom: 1.8rem;
}
.reason-text {
    margin-bottom: 3.6rem;
}
/*!
course
------------------------------
*/
.st-theme-basic {
    border: none;
}
@media (min-width: 768px) {
    .st-theme-basic {
        padding: 0 2rem;
    }
}
.tab.st > .nav {
    display: flex;
    column-gap: 1.5rem;
    flex-direction: row !important;
}
.tab.st-theme-basic > .nav {
    box-shadow: none;
}
.tab.st-theme-basic > .nav .nav-link {
    padding: 2.1rem 0 2.6rem;;
    line-height: 1;
    background-color: var(--color-bg-light-grey);
    color: #33333380;
    border-radius: 1.2rem 1.2rem 0 0;
}
@media (min-width:768px) {
    .tab.st-theme-basic > .nav .nav-link {
        padding: 3.4rem 0 2.6rem;
    }
}
.tab.st-theme-basic > .nav .nav-link.active {
    color: var(--color-font-black) !important;
    background-color: var(--color-bg-light-blue);
}
.tab.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
}
.nav-link {
    font-size: 1.8rem;
    font-weight: bold;
}
@media (min-width:768px) {
    .nav-link {
        font-size: 2.4rem;
    }
}
@media (min-width: 768px) {
    .tab-pane {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3.2rem;
        row-gap: 1.5rem;
    }
}
.course-section {
    margin: 6.4rem 0 5.6rem;
}
@media (min-width: 768px) {
    .course-section {
        margin: 7.9rem auto 7.1rem;
        width: 100%;
        max-width: 120rem;
    }
}
.course-title {
    margin-bottom: 3rem;
    margin-left: 1.2rem;
}
@media (min-width: 768px) {
    .course-title {
        margin-bottom: 3.7rem;
        margin-left: 0;
    }
}
.course-navigation {
    margin: 0 1.6rem;
}
@media (min-width: 768px) {
    .course-navigation {
        margin: 0;
    }
}
.tab-container {
    padding:2.8rem 1.6rem 5.6rem;
    background-color: var(--color-bg-light-blue);
}
@media (min-width: 768px) {
    .tab-container {
        padding: 2.5rem 3.2rem 0.6rem;
        border-radius: 0 0 1.2rem 1.2rem;
    }
}
.tab-content-item {
    margin-bottom: 2.8rem;
    display: block;
}
@media (min-width: 768px) {
    .tab-content-item {
        margin-bottom: 2.1rem;
    }
}
.tab-content-img {
    margin-bottom: 0.6rem;
    display: block;
}
@media (min-width: 768px) {
    .tab-content-img {
        overflow: hidden;
        border-radius: 1.3rem;
        margin-bottom: 1.4rem;
    }
}
.tab-content-img img {
    border-radius: 13px;
    aspect-ratio: 342 / 220;
}
@media (min-width: 768px) {
    .tab-content-img img {
        cursor: pointer;
        width: 100%;
        transition: transform .3s ease;
        aspect-ratio: 532 / 329;
    }
    .tab-content-img img:hover {
        transform: scale(1.2);
    }
}
.tab-content-text img {
    display: inline-block;
    vertical-align: middle;
    width: 1.78rem;
    margin-right: 0.3rem;
    margin-bottom: 0.4rem;

}
.tab-content-text p {
    font-size: 2rem;
    font-weight: bold;
    display: inline;
}
/*!
cost
------------------------------
*/
.cost-section {
    margin: 7rem 1.7rem 6.4rem;
}
@media (min-width: 768px) {
    .cost-section {
        margin: 8rem 0 6.9rem;
    }
}
.cost-table {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 114fr 222fr;
    width: 100%;
    border: 3px solid var(--color-border-light-grey);
}
@media (min-width: 768px) {
    .cost-table {
        margin: 3.9rem auto 0;
        max-width: 60rem;
        grid-template-columns: 141fr 452fr;
    }
}
.cost-table-column {
    border-bottom: 1px solid var(--color-border-light-grey);
    text-align: center;
    padding: 1.7rem 1.8rem
}
@media (min-width: 768px) {
    .cost-table-column {
        font-size: 1.8rem;
        padding: 2.2rem;
    }
}
.cost-table-column:not(:nth-of-type(2)):nth-of-type(2n) {
    border-left: 1px solid var(--color-bg-light-grey);
    font-family: var(--font-family-en);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
    color: var(--color-font-pink);
}
@media (min-width: 768px) {
    .cost-table-column:not(:nth-of-type(2)):nth-of-type(2n) {
        font-size: 3.2rem;
    }
}
.cost-table-column span {
    font-family: var(--font-family-base);
    font-size: 1.6rem;
}
@media (min-width: 768px) {
    .cost-table-column span {
        font-size: 1.8rem;
    }
}
.cost-table-column.table-header {
    padding: 1.8rem 2rem;
    background-color: var(--color-bg-light-grey);
}
@media (min-width: 768px) {
    .cost-table-column.table-header {
        padding: 2.3rem;
    }
    .cost-table-column.table-header:nth-of-type(2) {
        border-left: 1px solid var(--color-border-light-grey);
    }
}
/*!
footer-link
------------------------------
*/
@media (min-width: 768px) {
    .footer-link-section {
        display: flex;
    }
}
.footer-link-item {
    display: block;
    position: relative;
    height: 17rem;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 768px) {
    .footer-link-item {
        height: 32rem;
    }
}
.footer-link-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-link-text {
    position: absolute;
    font-weight: bold;
    color: var(--color-font-white);
    top: 50%;
    transform: translateY(-55%);
    left: 1.6rem;
    font-size: 2rem;
    letter-spacing: 2px;
}
@media (min-width: 768px) {
    .footer-link-text {
        font-size: 3.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 0;
    }
}
@media (min-width: 768px) {
    .footer-link-img {
        cursor: pointer;
        transition: transform .3s ease;
    }
    .footer-link-img:hover {
        transform: scale(1.2);
    }
}

/*!
footer-body
------------------------------
*/
.footer-body-section {
    height: 8.3rem;
    background-color: var(--color-bg-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .footer-body-section {
        height: 12rem;
    }
}
.footer-copyright {
    font-family: var(--font-family-en);
    color: #333;
    font-size: 1.3rem;
    font-weight: normal;
    margin-left: 1.4rem;
}

