@charset "utf-8";

/*!
global
------------------------------
*/

/* color */
:root {
    --color-bg-blue:#005bac ;
    --color-bg-white: #fff;
    --color-bg-light-pink:#ff55551a;
    --color-bg-light-blue: #f2f9ff;
    --color-bg-light-grey: #f0f0f0;
    --color-bg-grey: #ddd;

    --color-font-blue: #005bac;
    --color-font-black: #333;
    --color-font-white: #fff;
    --color-font-pink: #f11f8d;

    --color-border-light-grey: #ccc
}
/* content-width */
:root {
    --width-content: 1200px;
}

/* font */
:root {
    --font-family-base: "Noto Sans JP", sans-serif;
    --font-family-en: "Poppins", sans-serif;
}

/*!
foundation > base
------------------------------
*/
html {
    font-size: calc(10 * 100vw / 375);
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

@media (min-width:768px) {
    html {
          font-size: calc(10 * 100vw / 1200);
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}
body {
    color: var(--color-font-black);
    font-family: var(--font-family-base);
    font-size: 1.6rem;
    line-height: 1.75;
}
img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
/*!
component > button
------------------------------
*/
.c-button__base {
    cursor: pointer;
    width: 25rem;
    height: 4.8rem;
    border-radius: 2.5rem;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--color-font-white);
}
@media (min-width:765px) {
    .c-button__base {
        width: 34rem;
        height: 7.5rem;
        border-radius: 38px;
        font-size: 2.4rem;
    }
}
.c-button__base:hover {
    opacity: .6;
}
.c-button__first {
    background-color: #77cb33;
}
.c-button__second {
    background-color: #f6aa00;
}
.c-button__third {
    background-color: #3ac8ad;
}
.c-button__cta {
    width: 100%;
    max-width: 305px;
    height: 69px;
    border-radius: 35px;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;
    font-size: 20px;
}
@media (min-width:765px) {
    .c-button__cta {
        max-width: 360px;
        height: 75px;
        border-radius: 38px;
        font-size: 2.4rem;
    }
}
.c-button__header {
    max-width: 282px;
    height: 61px;
    border-radius: 31px;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;
    font-size: 20px;
}
.c-button__center {
    margin: 0 auto;
}
/*!
component > title
------------------------------
*/
.c-title-level1__english {
    font-family: var(--font-family-en);
    color: var(--color-font-blue);
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
}
@media (min-width: 768px) {
    .c-title-level1__english {
        font-size: 3.2rem;
    }
}
.c-title-level2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
}
@media (min-width:768px) {
    .c-title-level2 {
        font-size: 3.6rem;
    }
}
.c-title-level3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}
@media (min-width: 768px) {
    .c-title-level3 {
        font-size: 2.4rem;
    }
}
.c-title-point {
    font-family: var(--font-family-en);
    font-size: 2.4rem;
    font-style: italic;
    font-weight: bold;
    color: var(--color-font-pink);
}
@media (min-width: 768px) {
    .c-title-point {
        font-size: 2.8rem;
    }
}
.c-title-center {
    text-align: center;
}
/*!
component > arrow
------------------------------
*/


/*!
component > cta
------------------------------
*/
.c-cta {
    padding: 40px 0;
    background-color: var(--color-bg-light-pink);
}
@media (min-width: 768px) {
    .c-cta {
        padding: 56px;
    }
}
.c-cta__msg {
    text-align: center;
    margin-bottom: 12px;
}
@media (min-width: 768px) {
    .c-cta__msg {
        margin-bottom: 20px;
    }
}
.c-cta__msg span{
    display: block;
}
@media (min-width: 768px) {
    .c-cta__msg span {
        display: inline;
    }
}

/*!
layout > container
------------------------------
*/
.l-container {
    width: 90%;
    margin: 0 auto;
    max-width: var(--width-content);
}

/*!
header
------------------------------
*/
.header {
    background-color: var(--color-bg-white);
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 16px;
    height: 70px;
    box-shadow: 0px 2px 8px #0000001a;
    z-index: 10;
}
@media (min-width: 768px) {
    .header {
        padding: 0;
        height: 101px;
    }
}
.header-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.hamburger-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
    align-items: center;
    background-color: var(--color-bg-blue);
    cursor: pointer;
}
@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}
.hamburger-button-bar {
    width: 30px;
    height: 3px;
    background-color: var(--color-bg-white);
}
.navigation-group {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    position: fixed;
    top: 70px;
    right: 0;
    height: 100%;
    z-index: 10;
}
@media (min-width: 768px) {
    .navigation-group {
        padding: 0;
        flex-direction: row;
        align-items: center;
        transform: none;
        position: static;
        width: auto;
    }
}
.navigation-group.active {
    transform: translateX(0);
    background-color: var(--color-bg-blue);
}
@media (max-width: 767px) {
    .navigation-menu {
        width: 100%;
        max-width: 350px;
        margin: 0 auto 32px;
        color: var(--color-font-white);
    }
}

@media (min-width:768px) {
    .navigation-menu {
        display: flex;
        justify-content: right;
        gap: 48px;
        max-width: none;
        margin: 0 50px 0 0;
        font-size: 2rem;
        color: var(--color-font-black);
    }
}

@media (max-width: 767px) {
    .navigation-item {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #ffffff80;
    }
    .navigation-item a {
        margin-left: 10px;
    }
    .navigation-item::before {
        content: "→";
    }
}

.header-button {
    width: 100%;
    max-width: 350px;
    height: 6.6rem;
    margin: 0 auto;
    background: var(--color-bg-white);
    color: var(--color-bg-blue);
    border-radius: 3.3rem;
}
@media (min-width:768px) {
    .header-button {
        margin: 0;
        width: 28.2rem;
        height: 6.1rem;
        border-radius: 31px;
        font-size: 2rem;
        color: var(--color-font-white);
        background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;;
    }
}

/*!
main-visual
------------------------------
*/
.main-visual {
    background-image: url(/assets/image/mainVIsual_sp01.jpg);
    background-position: center center;
    margin-top: 70px;
    background-size: cover;
    background-position: -14px;
    aspect-ratio: 375 / 250;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (min-width: 768px) {
    .main-visual {
        background-image: url(/assets/image/mainVIsual_pc01.jpg);
        background-position: center center;
        aspect-ratio: inherit;
        height: 680px;
    }
}
.main-visual-pickup {
    position: relative;
    top: -115px;
    left: 1px;
}
@media(min-width:768px) {
    .main-visual-pickup {
        margin-left: 21%;
        top: -205px;
    }
}
.main-visual-pickup-text {
    position: absolute;
    font-size: 11px;
    top: 29px;
    left: 38px;
}
@media(min-width:768px) {
    .main-visual-pickup-text {
        font-size: 20px;
        top: 36px;
        left: 77px;
    }
}
.main-visual-pickup-point {
    position: absolute;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: var(--font-family-en);
    color: var(--color-font-pink);
    top: 41px;
    left: 58px;
}
@media(min-width:768px) {
    .main-visual-pickup-point {
        font-size: 54px;
        left: 109px;
        top: 53px;

    }
}
.main-visual-pickup-point span {
    font-size: 36px;
}
@media(min-width:768px) {
    .main-visual-pickup-point span {
        font-size: 74px;
    }
}
.main-visual-pickup-frame-left {
    position: absolute;
    width: 26px;
    top: 29px;
    left: 15px;
}
@media(min-width:768px) {
    .main-visual-pickup-frame-left {
        width: 52px;
        left: 6px;
        top: 32px;
    }
}
.main-visual-pickup-frame-right {
    position: absolute;
    width: 26px;
    top: 29px;
    left: 137px;
}
@media(min-width:768px) {
    .main-visual-pickup-frame-right {
        width: 52px;
        left: 279px;
        top: 32px;
    }
}
.main-visual-target {
    font-size: 1.4rem;
    margin-left: 16px;
}
@media(min-width:768px) {
    .main-visual-target {
        font-size:3.3rem;
        margin-left: 21.3%;
    }
}
.main-visual-announce {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.44;
    color: var(--color-font-blue);
    margin-left: 16px;
    margin-bottom: 34px;
}
@media(min-width:768px) {
    .main-visual-announce {
        font-size: 6rem;
        margin-left: 21.3%;
        margin-bottom: 136px;
    }
}
/*!
button-section
------------------------------
*/
.button-section {
    margin-top: 24px;
}
@media (min-width: 768px) {
    .button-section {
        margin: -30px 0 24px;
    }
}
.button-section-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
@media (min-width:768px) {
    .button-section-container {
        max-width: 1100px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: left;
        gap: 40px;
        overflow: hidden;
    }
    .button-section-container .c-button__base {
        flex-shrink: 0;
    }
}
/*!
reason
------------------------------
*/
.reason-section {
    margin-top: 32px;
}
@media (min-width: 768px) {
    .reason-section {
        margin-top: 79px;
    }
}
.reason-title {
    line-height: 1;
    margin-bottom: 25px;
}
.reason-title span {
    font-family: var(--font-family-en);
    font-weight: bold;
    font-size: 4rem;
    color: var(--color-font-pink);
}
@media (min-width: 768px) {
    .reason-title {
        margin-bottom: 43px;
    }
    .reason-title span {
        font-size: 5.4rem;
    }
}
.reason-group {
    margin: 0 16px 36px;
}
@media (min-width: 768px) {
    .reason-group {
        max-width: 1160px;
        margin: 0 auto 72px;
    }
}
@media (min-width: 768px) {
    .reason-item {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 46px;
    }
    .reason-item:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
    .reason-item:last-child {
        margin: 0;
    }
}
@media (min-width:768px) {
    .reason-img {
        flex: 1;
    }
}
.reason-img img {
    min-height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .reason-img img {
        max-width: 564px;
        aspect-ratio: 560 / 346;
    }
}
.reason-contents {
    flex: 1;
}
.reason-point {
    margin: 7px 0 4px;
    line-height: 1.5;
}
.reason-point span {
    font-size: 3.6rem;
}
.point2 {
    margin-bottom: 3px;
}

.reason-content-title {
    margin-bottom: 13px;
    line-height: 1;
}
.reason-title2 {
    margin-bottom: 20px;
}
.reason-title3 {
    margin-bottom: 18px;
}
.reason-text {
    margin-bottom: 36px;
}
/*!
course
------------------------------
*/
.st-theme-basic {
    border: none;
}
.tab.st > .nav {
    display: flex;
    column-gap: 15px;
    flex-direction: row !important;
}
.tab.st-theme-basic > .nav {
    box-shadow: none;
}
.tab.st-theme-basic > .nav .nav-link {
    padding: 21px 0 26px;;
    line-height: 1;
    background-color: var(--color-bg-light-grey);
    color: #33333380;
    border-radius: 12px 12px 0 0;
}
@media (min-width:768px) {
    .tab.st-theme-basic > .nav .nav-link {
        padding: 34px 0 26px;
    }
}
.tab.st-theme-basic > .nav .nav-link.active {
    color: var(--color-font-black) !important;
    background-color: var(--color-bg-light-blue);
}
.tab.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
}
.nav-link {
    font-size: 1.8rem;
    font-weight: bold;
}
@media (min-width:768px) {
    .nav-link {
        font-size: 2.4rem;
    }
}
@media (min-width: 768px) {
    .tab-pane {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 15px;
    }
}
.course-section {
    margin: 64px 0 56px;
}
@media (min-width: 768px) {
    .course-section {
        margin: 79px auto 67px;
        width: 100%;
        max-width: 1160px;
    }
}
.course-title {
    margin-bottom: 30px;
    margin-left: 12px;
}
@media (min-width: 768px) {
    .course-title {
        margin-bottom: 32px;
    }
}
.course-navigation {
    margin: 0 16px;
}
@media (min-width: 768px) {
    .course-navigation {
        margin: 0;
    }
}
.tab-container {
    padding:28px 16px 56px;
    background-color: var(--color-bg-light-blue);
}
@media (min-width: 768px) {
    .tab-container {
        padding: 32px 32px 0;
        border-radius: 0 0 12px 12px;
    }
}
.tab-content-item {
    margin-bottom: 28px;
}
.tab-content-img {
    margin-bottom: 6px;
}
@media (min-width: 768px) {
    .tab-content-img {
        overflow: hidden;
        border-radius: 13px;
        margin-bottom: 9px;
    }
}
.tab-content-img img {
    border-radius: 13px;
    aspect-ratio: 342 / 220;
}
@media (min-width: 768px) {
    .tab-content-img img {
        cursor: pointer;
        width: 100%;
        transition: transform .3s ease;
        aspect-ratio: 532 / 329;
    }
    .tab-content-img img:hover {
        transform: scale(1.2);
    }
}

.tab-content-text img {
    display: inline-block;
    vertical-align: middle;
    width: 13.8px;
    margin-right: 5px;

}
.tab-content-text p {
    font-size: 2rem;
    font-weight: bold;
    display: inline;
}
/*!
cost
------------------------------
*/
.cost-section {
    margin: 70px 17px 64px;
}
@media (min-width: 768px) {
    .cost-section {
        margin: 76px 0 69px;
    }
}
.cost-table {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 114fr 222fr;
    width: 100%;
    border: 3px solid var(--color-border-light-grey);
}
@media (min-width: 768px) {
    .cost-table {
        margin: 39px auto 0;
        max-width: 600px;
        grid-template-columns: 141fr 452fr;
    }
}
.cost-table-column {
    border-bottom: 1px solid var(--color-border-light-grey);
    text-align: center;
    padding: 17px 18px
}
@media (min-width: 768px) {
    .cost-table-column {
        font-size: 1.8rem;
        padding: 22px;
    }
}
.cost-table-column:not(:nth-of-type(2)):nth-of-type(2n) {
    border-left: 1px solid var(--color-bg-light-grey);
    font-family: var(--font-family-en);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
    color: var(--color-font-pink);
}
@media (min-width: 768px) {
    .cost-table-column:not(:nth-of-type(2)):nth-of-type(2n) {
        font-size: 3.2rem;
    }
}
.cost-table-column span {
    font-family: var(--font-family-base);
    font-size: 1.6rem;
}
@media (min-width: 768px) {
    .cost-table-column span {
        font-size: 1.8rem;
    }
}
.cost-table-column.table-header {
    padding: 18px 20px;
    background-color: var(--color-bg-light-grey);
}
@media (min-width: 768px) {
    .cost-table-column.table-header {
        padding: 23px;
    }
    .cost-table-column.table-header:nth-of-type(2) {
        border-left: 1px solid var(--color-border-light-grey);
    }
}
/*!
link
------------------------------
*/
@media (min-width: 768px) {
    .footer-link-section {
        display: flex;
    }
}
.footer-link-item {
    position: relative;
    height: 170px;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 768px) {
    .footer-link-item {
        height: 320px;
    }
}
.footer-link-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-link-text {
    position: absolute;
    font-weight: bold;
    color: var(--color-font-white);
    top: 50%;
    transform: translateY(-55%);
    left: 16px;
    font-size: 2rem;
    letter-spacing: 2px;
}
@media (min-width: 768px) {
    .footer-link-text {
        font-size: 3.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

@media (min-width: 768px) {
    .footer-link-img img {
        cursor: pointer;
        transition: transform .3s ease;
    }
    .footer-link-img img:hover {
        transform: scale(1.2);
    }
}

/*!
layout > footer
------------------------------
*/
.footer-body-section {
    height: 83px;
    background-color: var(--color-bg-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .footer-body-section {
        height: 120px;
    }
}

.footer-copyright {
    font-family: var(--font-family-en);
    color: #333;
    font-size: 13px;
    font-weight: normal;
    margin-left: 14px;
}

